<div class="container">
  <div class="h1-voici-les-telephones">
    <h1 class="voici-les-telephones"> Voici les téléphones que vous pouvez réparer chez nous:</h1>
  </div>

  <div class="photo-et-caracteristiques-des-telephones">
    <% @phones.each do |phone| %>
      
    <% end %>
  </div>
</div>
