// Specific CSS for your home-page
.div-parente-h1-my-phone-repair{
  display: flex;
  justify-content: center;
}

.h1-page-acceuil-my-phone-repair{
  border: 1px solid black;
  border-radius: 8px;
  margin: 25px;
  padding: 25px;
}

.div-parente-descriptif-de-lapp{
  display: flex;
  justify-content: center;
}

.descriptif-de-lapp{
  border: 1px solid black;
  border-radius: 8px;
  margin: 25px;
  padding: 25px;
}

.ici-vous-pouvez{
  display: flex;
  justify-content: center;
}
