.h1-voici-les-telephones{
  width: 100%;
  display: flex;
  justify-content: center;
}

.voici-les-telephones{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
}
