.h1-voici-les-telephones {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 25px;
}

.container {
  background-color: #F9F9F9;
}

.voici-les-telephones {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
}

.photo-et-caracteristiques-des-telephones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: auto;

  @media all and (max-width: 480px) {
    & {
      grid-template-columns: 1fr;
    }
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    & {
      grid-template-columns: 1fr;
    }
  }


  @media all and (min-width: 768px) and (max-width: 1024px) {
    & {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.cards-and-description {
  box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}


.card-category {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
  border-radius: 8px;
}

.phone-spec {
  padding: 25px;
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    justify-content: space-between;
  }

  .footer {
    display: flex;
    justify-content: flex-end;

    p {}
  }
}

.link-index {
  text-decoration: none;
  color: black;
}


.link-index:hover {
  color: black;
}

.parent-model-and-capacity {
  display: flex;
  align-items: flex-start;
}


.phone-spec p {
  margin: 0 !important;
}

.phone-spec {
  .footer {
    font-weight: bold;
  }
}

.searchbar-index{
  margin-bottom: 30px;
  margin-top: 20px;
  width: 100%;
}

