.h1-your-new-buy{
  display: flex;
  justify-content: center;
}

.your-new-buy{
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  font-weight: bold;
  font-size: 50;
}

.parent-form-new-buy{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  background-color: #FBF9F9;
}

.form-new-buy{
  border: 1px solid gray;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  height: 400px;
  width: 100%;
  font-weight: bold;
  font-size: 30;
  form{
    display: grid;
    grid-gap: 20px;
    padding: 0 20vw 0 20vw;
  }
  input[type=submit]{
    margin-top: 15px;
  }

  input{
    border: 1px solid gray;
    border-radius: 8px;
  }

  select{
    border: 1px solid gray;
    border-radius: 8px;
  }
}

.parent-more-info-on-new-buy{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.get-phone-in-store{
  border: 1px solid gray;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  width: 65%;
}

.h2-phone-in-store{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-weight: bold;
}

.get-phone-at-home{
  border: 1px solid gray;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
}

.h2-phone-at-home{
  font-weight: bold;
  font-size: 10px;
}
