.h1-new-repair{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.new-repair{
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 20px;
  font-weight: bold;
  font-size: 50;
}

.form-new-repair{
  border: 1px solid gray;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  height: 400px;
  width: 100%;
  font-weight: bold;
  font-size: 30;
  form{
    display: grid;
    grid-gap: 20px;
    padding: 0 20vw 0 20vw;
  }
  input[type=submit]{
    margin-top: 15px;
  }

  input{
    border: 1px solid gray;
    border-radius: 8px;
  }

  select{
    border: 1px solid gray;
    border-radius: 8px;
  }
}

.formulaire-nouvelle-reparation-div-parente{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  background-color: #FBF9F9;
}

.parent-div-elements-marketing{
  display: flex;
  justify-content: space-between;
}

.parent-div-certified-worker{
  display: flex;
  justify-content: center;
}

.agents-certifies{
  border: 1px solid gray;
  border-radius: 8px;
  margin: 25px;
  padding: 25px;
}

.h4-certified-workers{
  display: flex;
  justify-content: center;
}

.parent-div-warranty{
  display: flex;
  justify-content: center;
}

.warranty{
  border: 1px solid gray;
  border-radius: 8px;
  margin: 25px;
  padding: 25px;
}

.h6-avalible-in-all-stores{
  display: flex;
  justify-content: center;
}
