.h1-ajoutez-votre-telephone{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 25px;
}

.ajoutez-votre-telephone{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
}

.formulaire-div-parente{
  display: flex;
  justify-content: center;
}

.formulaire{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
}
