.h1-nouvelle-reparation{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.nouvelle-reparation{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
}

.formulaire-nouvelle-reparation{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
}

.formulaire-nouvelle-reparation-div-parente{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
