.photo-de-la-show-telephone{
  width: 70%;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.h1-votre-telephone{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.votre-telephone{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
}

.photo-de-la-show{
  display: flex;
  justify-content: center;
}

.informations-du-telephone{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
}

.div-parente-info-telephone{
  display: flex;
  justify-content: center;
}

.div-parente-reservation-et-achat{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
}

.acheter-le-tel{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
}

.reparer-le-tel{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black ;
  border-radius: 8px;
  padding: 20px;
}
