
.h1-your-phone{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 30px;
}

.your-phone{
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 20px;
  font-weight: bold;
  font-size: 50;
}

.photo-and-info-show-parent{
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  width: 80%;
  margin: auto;
}

.photo-show{
  height: 400px;
  width: 400px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.info-show{
  box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.boxes-show-phone{
  border: 1px solid #FD6D34;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 125px;
  height: 60px;
  margin-bottom: 30px;
  color : #FD6D34;
  background-color: #FFE8E0;
}

#phone-capacity{
  margin: auto;
}

#phone-color{
  margin: auto;
}

#phone-price{
  margin: auto;
}

.div-parent-h1-and-photo-and-info{
  font-family: $font-phone-show;
}

.phone-model-p{
  font-weight: 700;
  font-size: 28px;
  margin: 0;
}

.details-info-title-name-phone{
  font-weight: 400;
  font-size: 12px;
}

.p-phome-model{
  margin-bottom: 0px;
}

.image-caroussel{
  height: 500px;
  margin: auto;
}

.carousel-indicators .li{
  background-color: aquamarine;
}

#carouselExampleIndicators{
  height: 400px;
  width: 400px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.div-go-to-buy-and-repair{
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}

.button-pink{
  color : #CF68D6;
  background-color: #F0DBDB;
  text-decoration: none;
  margin: auto;
  text-align: center;
}

.button-pink:hover{
  color: #CF68D6;
}

#show-buy{
  display: flex;
  justify-content: center;
  margin: auto;
}

.acheter{
  margin-left: 8%;
}

.boxes-repair-and-buy-boxes{
  margin-left: 10%;
  border: 1px solid #CF68D6;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 125px;
  height: 60px;
  margin-bottom: 30px;
  color : #CF68D6;
  background-color: #F0DBDB;

}

.acheter{
  margin-left: 8%;
}
