.parent-h1-your-new-phone{
  display: flex;
  justify-content: center;
}

.h1-your-new-phone{
  border: 1px solid black;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
}

.btn-dark{
  margin-left: 15px;
}

.parent-recap-show-phone{
  display: flex;
  justify-content: center;
}

.recap-show-phone{
  border: 1px solid black;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.photo-show-phone{
  width: 270px;
  height: 258px;
  border-radius: 8px;
}

.show-phone-ul{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-right: 10px;
}

.parent-go-on-index-buy{
  display: flex;
  justify-content: center;
}

.go-on-index-buy{
  border: 1px solid black;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
}
