.parent-h1-your-new-phone{
  display: flex;
  justify-content: center;
}

.h1-your-new-phone{
  border: 1px solid black;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
}

.btn-dark{
  margin-left: 15px;
}
