<div class="container">
  <div class="div-parente-h1-my-phone-repair">
    <div class="h1-page-acceuil-my-phone-repair">
      <h1> Bienvenue chez My Phone Repair</h1>
      <br>
      <br>
      <h4> Vente et réparation de smartphones multimarque</h4>
    </div>
  </div>
  <div class="div-parente-descriptif-de-lapp">
    <div class="descriptif-de-lapp">
      <div class="ici-vous-pouvez">
        <h1> Ici, vous pouvez :</h1>
      </div>
        <ul>
          <li> Choisir le type de réparation dont vous avez besoin</li>
          <li> Effectuer un devis et prendre rendez vous dans un de nos centres</li>
          <li> Demander une offre de reprise intéressante pour votre téléphone</li>
          <li> Comparer les performances des appareils les plus répandus sur le marché</li>
        </ul>
    </div>
  </div>
</div>
