<div class="container">
  <div class="h1-new-review">
    <h1 class="new-review"> Notez ce téléphone </h1>
  </div>

  <div class="parent-div-form-new-review">
    <%= simple_form_for([@phone, @review]) do |f| %>
    <%= f.input :rating, collection: Review::NUMBER_RATING %>
    <%= f.input :comment, placeholder: "Ecrivez votre commentaire ici..." %>
    <%= f.submit "Notez", class: "btn btn-dark" %>
    <% end %>
  </div>
</div>
